<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>studentManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginController</display-name>
    <servlet-name>loginController</servlet-name>
    <servlet-class>com.frontend.loginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerController</display-name>
    <servlet-name>registerController</servlet-name>
    <servlet-class>com.frontend.registerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerController</servlet-name>
    <url-pattern>/registerController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>dashoardFilter</display-name>
    <filter-name>dashoardFilter</filter-name>
    <filter-class>com.admin.dashoardFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>dashoardFilter</filter-name>
    <url-pattern>/dashboardController</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>dashboardController</display-name>
    <servlet-name>dashboardController</servlet-name>
    <servlet-class>com.admin.dashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dashboardController</servlet-name>
    <url-pattern>/dashboardController</url-pattern>
  </servlet-mapping>
</web-app>