@charset "UTF-8";

/* description: this css style controls the frontend of the application.
				you can edit and make your changes below

Author:			 Dennis Shaba
*/
*, *::before, *::after {
    box-sizing:none !important;
}
html{
	
}
body{
	background-color:#fff;
	padding:0;
	margin:0;
}
h1, h2, h3, h4, h5, h6{
	
}
header{
	padding:15px;
	background-color:#FAFAFA;
	box-shadow: 2px 2px 5px 4px #ccc;
	
}
nav{
	display:flex;
	justify-content:space-between;
	padding:0 30px;
}
.logo-wrapper{
	padding:0;
	
}
.logo-wrapper img{
	width:50px;
}
.logo-wrapper h1{
	font-size:15px;
}

.menu-icon-top{
	display:inline;
	padding:10px;
}
.menu-icon-top .fas{
	color:#29055C;
	width:50px;
}
.menu-icon-top .fas:hover{
	color:#074FD5;
	cursor:pointer;
}
main{
	display:flex;
	justify-content:center;
}
.welcome{
	padding:50px 20px;
	justify-content:center;
	display:flex;
	flex-direction:column;
	align-items:center;
	
}
.welcome h2{
	color:#29055C;
	font-size:36px;
	font-family: 'Otomanopee One', sans-serif;
}
.login-wrapper{
	padding:70px 50px;
	border-radius:5px;
	background-color:#070D6A;
	max-width:700px;
	min-width:500px;
	margin:50px;
}
.login-wrapper input{
	margin-left:10px;
	max-width:300px;
}
.login-wrapper p, label{
	color:#fff;
	font-size:16px;
}
.welcome p{
	text-align:center;
}
.welcome p a{
	text-decoration:none;
	color:#070D6A;
}

/* style for registration*/
#reg-wrapper{
	margin:50px 0;
	display:flex;
	justify-content:center;
}
.register-wrapper{
	display:flex;
	padding:50px;
	background-color: #F5F5F5;
	border-radius:5px;
	max-width:700px;
	min-width:500px;

}
.register-wrapper label{
		color:#333;
}
.alt{
	margin:10px;
}
.mybtn{
	display:flex;
	justify-content:center;
}
textarea{
	color:#aaa;
}
.g-3 h2{
	text-align:center;
}
